target/
!.mvn/wrapper/maven-wrapper.jar
/architecture-node.png
/last-search-results.json
/last-tool-output.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/**
!**/src/test/resources/**

### VS Code ###
.vscode/

### Drivers ###
driver/
*.exe
